.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  margin: 3px;

  border-radius: 1.5rem;        

  padding: 0.5rem 1rem;   

  font-size: 0.875rem;         
  font-weight: 500;

  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

.button:focus {
  outline: none;                   
  outline: 2px solid currentColor; 
  outline-offset: 2px;          
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button--primary {
  background-color: #6a8cfb;
  color: #ffffff;
}

.button--primary:hover:not(:disabled) {
  background-color: #819DFB;
}

.button--primary:focus {
  outline-color: #819DFB;
  color: #ffffff;
}

.button--secondary {
  background-color: #eaebee;
  color: #111827;     
}

.button--secondary:hover:not(:disabled) {
  background-color: #e5e7eb;        
  color: #111827;
}

.button--secondary:focus {
  outline-color: #d1d5db;          
  color: #a0a0a0;
}
